@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Gerenciador de aniversários</h1>
    <a >Nessa Aplicação, você poderá cadastar uma lista de aniversários de seus amigos!</a>
</div>

