@{
    ViewData["Title"] = "Cadastro";
}

<div class="text-center">
    <h1 class="display-4">Cadastros</h1>
    
</div>
<div>
    <form>
        <div class="form-group">
            <label for="nome" class="form-label">Nome</label>
            <input type="text" class="form-control" placeholder="Digite o primeiro nome">
        </div>

        <div class="form-group">
            <label for="sobrenome" class="form-label">Sobrenome</label>
            <input type="text" class="form-control" placeholder="Digite o sobrenome">
        </div>

        <div class="form-group">
            <label for="sobrenome" class="form-label">Data de nasimento</label>
            <input type="date" class="form-control" placeholder="Digite a data de nascimento">
        </div>
        <button type="add" class="btn btn-primary">Adicionar Contato</button>
    </form>
</div>


